# eclipse settings and project
.settings/
.project

# vscode files
.vscode/

# gradle
.gradle

# intellij IDEA
.idea

# builds
target/
*.class
*.jar
*.lst
build

# crash log files
*.log

stale_outputs_checked